services:
  identity-provider:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - '${APP_HOST_PORT}:${APP_CONTAINER_PORT_PORT}'
    environment:
      - DB_HOST=${DB_HOST}
    restart: unless-stopped
    volumes:
      - ./src:/app/src
    networks:
      - web

networks:
  web:
    external: true
