CREATE DATABASE IF NOT EXISTS `<my_auth_db_name>`;
USE `<my_auth_db_name>`;

CREATE TABLE IF NOT EXISTS `<user_table_name>` (
  uuid       BINARY(16) NOT NULL,
  username   VARCHAR(50),
  email      VARCHAR(255),
  password   VARCHAR(255) NOT NULL,
  roles      JSON NOT NULL,
  created_at DATETIME     NOT NULL,
  updated_at DATETIME     NOT NULL,
  UNIQUE KEY unique_username (username),
  UNIQUE KEY unique_email (email),
  PRIMARY KEY (uuid)
) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;

CREATE TABLE IF NOT EXISTS `<refresh_token_table_name>` (
  uuid BINARY(16) NOT NULL,
  user_uuid BINARY(16) NOT NULL,
  device_info VARCHAR(255),
  iat DATETIME NOT NULL,
  exp DATETIME NOT NULL,
  created_at DATETIME NOT NULL,
  PRIMARY KEY (uuid)
) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;

ALTER TABLE `<refresh_token_table_name>` ADD CONSTRAINT FK_IDX_REFRESH_TOKEN_USER FOREIGN KEY (user_uuid) REFERENCES `<user_table_name>` (uuid) ON DELETE CASCADE;
